{% extends 'base.html' %} {% block content %}
<p>
  The Flemming household was established long long ago, in the great year of our
  lord 2009
</p>
<p>
    <ul>
  <li>Legend has it Bill once had an 1983 corvette. </li>
  <li>Tale tells Mellisa's parents were both born in Poland. </li>
  <li>Rumor has it Jess was born in the great blizzard of 2010.</li> 
  <li>It is whispered Bill had a small coin collection when he was little. His
  rarest coin featured was a penny from 1897. 
  <li>Some believe the Flemmings bought thier house in 2012. </li>
  <li>Legend has it in the 1920's during the Probition era, the
  Flemmings had an underground room where they threw parties.</li>
    </ul>
</p>
<p>
  More can be learned of the family
  <a
    href="http://www.flemmingfamily.org/the-early-flemmings.html#:~:text=During%20the%20early%20and%20middle,even%20between%20father%20and%20son."
    >here</a
  >
</p>
<h4>Our Story:</h4>
<p>
  Once upon a time, in the rolling hills of County Cork, Ireland,
  there lived a man named William Fleming. He was a tall and sturdy Irishman
  with a heart as big as the lush green fields that stretched as far as the eye
  could see. William, like many of his fellow countrymen, dreamed of a better
  life across the vast ocean in the United States of America.
</p>
<p> It was the early
  19th century, a time when Ireland faced its share of hardships – famine,
  oppression, and the struggle for basic rights. William knew he had to make a
  choice for his family's future, and so, he embarked on a journey filled with
  hope and uncertainty. </p>
  <p>Gathering his belongings and saying tearful goodbyes to
  friends and family, William set sail with a group of fellow Irish immigrants
  on a rickety wooden ship bound for the port of Philadelphia. The ship,
  battered by rough seas and overcrowded with people seeking a new life,
  provided a challenging journey across the Atlantic. </p>
  <p>Despite the hardships,
  William remained determined, for he held onto a vision of a brighter future
  for his family. Finally, after weeks of enduring the harsh conditions of the
  voyage, the ship's weary passengers caught their first glimpse of the land
  they had dreamed about for so long. The Statue of Liberty welcomed them to the
  United States, and a sense of exhilaration washed over them. </p>
  <p>Arriving in
  Philadelphia, the city of brotherly love, William and his fellow immigrants
  faced the daunting task of building new lives. They encountered challenges,
  including finding work and a place to live, but their resilience and the
  promise of a better life kept them going. </p>
  <p>William, who had been a farmer back
  in Ireland, found employment as a laborer in the bustling city. He worked
  tirelessly, saving every hard-earned penny to provide for his growing family.
  He and his wife, Mary, were blessed with children over the years, each
  generation embracing their Irish heritage while becoming proud American
  citizens. </p>
  <p>As the years passed, the Flemings prospered in their newfound home.
  They watched the city of Philadelphia grow and change, just as they had. Their
  descendants spread out across the United States, contributing to the rich
  tapestry of American life. The story of William Fleming and his family is one
  of courage, hope, and the pursuit of the American dream. </p>
  <p>It's a story that
  echoes through the centuries, reminding us of the countless immigrants who
  left their homelands in search of a better future and, in doing so, helped
  shape the great nation that is the United States today.
</p>
{% endblock content %}
